<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1> <%= kindOfDay %></h1>
    <ul>
        <li>Buy Food</li>
        <li>Do Homeowrk</li>
        <li>Eat Food</li>
    </ul>
    
</body>
</html>