<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= kindOfDay %></h1>
    </div>
    <div class="box">

    </div>
    <ul>
        
        <% for(var i = 0 ; i <newListItems.length ; i++){ %>
            <li> <%= newListItems[i] %></li>
        <% } %>
        
    </ul>
    <form action="/" method="post">
        <input  type="text" name="newItem">
        <button type="submit">Add</button>
    </form>
</body>
</html>